# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
.DS_Store
._*

config/database.yml

public/layer_type/*
.DS_Store

vendor/d3/*

active_admin.css
